<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logo"><a href="/">AutoSphere</a></h2>
        </div>
        <div class="navbar-center">
            <form action="/posteos/resultadoBusqueda" method="GET" class="search">
                <input type="text" name="search" class="search-input" placeholder="Buscar...">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
</header>