<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logo"><a href="/">AutoSphere</a></h2>
        </div>
        <div class="navbar-center">
            <form action="/posteos/resultadoBusqueda" method="GET" class="search">
                <input type="text" name="search" class="search-input" placeholder="Buscar..." required>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a href="/"><i class="fa-solid fa-house"></i></a></li>

                <li><a href="/posteos/addpost"><i class="fa-regular fa-square-plus"></i></a></li>

                <li><a href="/users/detail/<%= locals.user.idUsuarios %>"><i class="fa-regular fa-user"></i></a></li>

                <form action="/logout" method="post">

                         <button name="logout" type="submit" class="enviarButton"><i class="fa-solid fa-arrow-right-from-bracket"> </i></button>
                </form>
            </ul>
        </div>
    </nav>
</header>

