<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
     
        <%- include('./partials/headerLog') %>
  
    <main>
        <section class="center main-content">
        <h1>Nuevo Post</h1>
        <form action="/posteos/addpost" method="post">
            <label for="nombreImagen"></label>
            <textarea name="nombreImagen" id="" cols="30" rows="10">nombre de imagen</textarea>

            <label for="pieDeFoto">Pie de foto:</label>
            <textarea name="pieDeFoto" id="pieDeFoto" cols="50" rows="4" placeholder="Escribe tu pie de foto aqui..."></textarea>

            <label for="imagen">Subir imagen (url):</label>
            <input type="url" id="imagen" name="imagen">

            <button type="submit">Publicar</button>
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>