<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <% if (locals.user != undefined) { %>
     
        <%- include('./partials/headerLog') %>

        <% } else { %>
         
            <%- include('./partials/header') %>
            
    <% } %>

    <main>
        <section class="center main-content">
        <h1>Editar perfil</h1>
        <form action="" method="get">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>
            <label for="fotoperfil">Foto de perfil (url):</label>
            <input type="url" id="foto" name="foto"><br><br>
            <label for="pass">Contraseña:</label>
            <input type="password" id="pass" name="pass" required><br><br>
            <label for="confirmarContrasena">Confirmar Contraseña</label>
            <input type="text" id="confirmarContrasena" name="confirmarContrasena"><br><br>
            <button type="submit">Actualizar perfil</button>
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>